{% extends 'main/base.html' %}

{% load static %}

    {% block extra_styles %}
        <link href="{% static "css/mainpage.css" %}" rel='stylesheet'>
    {% endblock %}

  {% block base %}
    <div class = "fill_container containers first">
      <div class="section full-height">
          <div class="absolute-center">
              <div class="section">

                  <span is="type-async" id="type-text"> WXLV DEVELOPMENT</span>
                  <p><strong> < Exciting Websites > <h1> <small>BY</small> WXLVE <h1/> </strong></p> 
	
              </div>
          </div>
      </div>
  </div>
  <div class = "fill_container containers second">
    <div class="section full-height">
        <div class="absolute-center">
            <div class="section">
                <h1 class= "different_heading"> this is text</h1>
                <h1> for everyone, <span class="text blue">to Build</span></h1>
                <p> <strong>PS:</strong> beautiful text goes here </p>	

                <a href="{% url 'main:babylon' %}"><div class="card">
                    <h2 style="color: black; text-decoration: none;">Go to Babylon page 1</h2>   
                </div></a>

  
            </div>
        </div>
    </div>
</div> 
<div class = "fill_container_diff third">
    <div class="section full-height">
        <div class="absolute-center">
            <div class="section">
                <h1> this is text</h1>
                <h1> for everyone, <span class="text blue">to Build</span></h1>
                <p> <strong>PS:</strong> beautiful text goes here </p>	
  
            </div>
        </div>
    </div>
</div>

  {% endblock %}